position:
  x: 1
  y: 2

micronaut:
  application:
    name: distributedGolCell
  server:
    port: 80
  router:
    static-resources: 
        default:
            enabled: true
            mapping: /**
            paths: classpath:public

  jms:
    activemq:
      classic:
        enabled: true
        connection-string: tcp://localhost:61616

config.jms:
  destinationQueue: example-messages
  
netty:
  default:
    allocator:
      max-order: 3
